/* 
Colorblind safe color palette from colorbrewer2.org.
#d01c8b - hot pink
#f1b6da - off pink
#f7f7f7 - white
#b8e186 - light green
#4dac26 - lime green
*/

body {
    background-color: #b8e186;
    color: #4dac26;
    text-align: center;
}

h1 {
    color: #f7f7f7;
}